.cell-water {
    background-color: rgb(0, 170, 255) !important;
}

.cell-miss { background-color: #cfd8dc !important; color: #455a64 !important; font-weight: bold; text-align: center; }
.cell-hit { background-color: #ffcdd2 !important; color: #d32f2f !important; font-weight: bold; text-align: center; }
.cell-ship { background-color: #546e7a !important; color: transparent !important; }


.wdr-scroll-x, .wdr-scroll-y {
    display: none !important;
}

.wdr-cell.wdr-empty {
    background-color: transparent !important;
    border: none !important;
}

.wdr-cell {
    text-align: center !important;
}


#wdr-pivot-view {
    border: none !important;
}



.wdr-ui-element.wdr-ui.wdr-ui-label.wdr-ui-mobile.wdr-credits {
    display: none !important;
    position: static !important;
    height: 0 !important;
    width: 0 !important;
}

#wdr-data-sheet {
    border: none !important;
}

.wdr-ui-element.wdr-sheet-selection-canvas {
    display: none !important;
}

.wdr-grid-layout {
    border: none !important;
    background-color: transparent !important;
}


.battlefield-wrapper {
    min-height: 100vh;
    display: flex;
    padding-inline: 60px;
    align-items: center;
    justify-content: space-between;
    padding-block: 20px;
    gap: 20px;
}

#enemyPivotContainer .wdr-cell:not(.wdr-header):hover {
    filter: brightness(0.8); 
    cursor: crosshair !important;
}

